.meals-body{
    text-align: center;
    display: flex;
}

.meal-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 90px;
    /* margin-right: 90px; */
    border-right: 2px solid gray;
}
